.auction__top {
    margin-top: 80px;
}

.auction__top-name {
    font-size: 3rem;
    color    : #fff;
}

.auction__top-link {
    font-size    : 1.8rem;
    color        : #fff;
    border-bottom: 1px solid #E250E5;
}

.auction__top-link:hover {
    color: #E250E5;
}

.auction__list {
    margin-top: 60px;
}

.auction__item {
    padding              : 14px;
    background-color     : #343444;
    border-radius        : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius   : 8px;
    -ms-border-radius    : 8px;
    -o-border-radius     : 8px;
}

.auction__item__top img {
    border-radius        : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius   : 8px;
    -ms-border-radius    : 8px;
    -o-border-radius     : 8px;
}

.auction__item__body h5 {
    font-size: 1.8rem;
    color    : #fff;
    margin   : 10px 0;
}

.auction__item__body {}

.info-left {
    width       : 46px;
    margin-right: 8px;
}

.info-left img {
    width     : 100%;
    height    : auto;
    object-fit: cover;
}

.info__right-title {
    font-size: 1.4rem;
    color    : #fff;
    opacity  : 80%;
}

.info__right-name {
    font-size  : 1.6rem;
    color      : #fff;
    font-weight: 400;
    margin-top : 4px;
}

.btn__bid {
    padding                 : 6px 24px;
    /* border               : 1px solid #4c4ccd; */
    background-color        : #4c4ccd;
    border-radius           : 50px;
    -webkit-border-radius   : 50px;
    -moz-border-radius      : 50px;
    -ms-border-radius       : 50px;
    -o-border-radius        : 50px;
    font-size               : 1.4rem;
    color                   : #fff;
}

.btn__bid:hover {
    color: #bfbfbf;
}

.btn__view {
    font-size: 1.5rem;
    color    : #bfbfbf;
}

.btn__view:hover {
    color: #E250E5;
}