.create {
    margin: 80px 0;
}

.create__heading {
    font-size    : 3rem;
    color        : #fff;
    margin-bottom: 60px;
}

.create__item {
    padding         : 24px;
    background-color: #343444;
    border-radius   : 8px;
}

.create__item-icon {
    padding: 8px 10px;

    background-color     : #4c4ccd;
    font-size            : 1.6rem;
    font-weight          : 600;
    color                : #fff;
    border-radius        : 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    -ms-border-radius    : 4px;
    -o-border-radius     : 4px;
}

.create__item-title {
    color     : #fff;
    margin-top: 20px;
    font-size : 1.6rem;
}

.create__item-des {
    font-size: 1.4rem;
    color    : #fff;
    opacity  : 80%;
}