@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin : 0;
    padding: 0;
    font   : inherit;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-family: 'Roboto',
        sans-serif;

}

img,
picture,
video,
canvas,
svg {
    display  : block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none !important;

}

ul {
    padding        : 0 !important;
    list-style-type: none !important;
}